.box{
    display: inline-block ;
    width: 100px; /*Ancho*/
    height: 100px;/*Altura*/
    background: pink; /*Fondo*/
    color: white;/*Color texto*/
    }

    #three{
        position: absolute; /*static, absolute, relative, fixed, sticky*/
        top: 20px;
        left: 20px;
        background: palevioletred;
    }

.texto{
    width: 600px;
    height: 400px;
    overflow: hidden; /*visible, hidden, scroll, auto*/
    padding-left: 150px;
}